.git
.github
node_modules
vendor
docs
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/storage
.env
.env.*
!.env.example
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.phpunit.result.cache
